/* ! Miscellaneous */
.strong-title {
  font-weight: 800;
  text-transform: uppercase;
}
.list-unstyled,
.list-unstyled ul,
.list-unstyled ol {
  list-style: none;
}
.list-unstyled {
  padding-left: 0;
}
.is-style-two-columns {
  column-count: 2;
  column-gap: var(--wp--custom--spacing);
}
[class*="wp-container-"].has-background:not(:first-child) {
  margin-top: calc(var(--wp--style--block-gap) * 2);
}
[class*="wp-container-"].has-background:not(:last-child) {
  margin-bottom: calc(var(--wp--style--block-gap) * 2);
}

/* Core: Button */
.wp-block-button__link,
.wp-block-button__link:hover,
.wp-block-button__link:focus {
  text-decoration: none;
  transition: color 0.2s ease,
              border-color 0.2s ease,
              background-color 0.2s ease;
}
.wp-block-button__link:hover,
.wp-block-button__link:focus {
  color: var(--wp--preset--color--light);
  border-color: var(--wp--preset--color--primary-light);
  background-color: var(--wp--preset--color--primary-light);
}
.wp-block-button__link:active:focus {
  color: var(--wp--preset--color--white);
  border-color: var(--wp--preset--color--primary-dark);
  background-color: var(--wp--preset--color--primary-dark);
}
@media (hover: hover) {
  .wp-block-button__link {
    transition: filter 0.2s ease;
  }
  .wp-block-button__link:hover {
    filter: brightness(1);
  }
}

/* ! Core: Table */
.wp-block-table td,
.wp-block-table th {
  border-color: var(--wp--preset--color--border);
}
.wp-block-table table {
  margin-bottom: 1rem;
}
.wp-block-table thead th,
.wp-block-table tfoot td {
  background-color: var(--wp--preset--color--alt);
}

/* ! Core: Separator */
.wp-block-separator:not(.has-background):not(.is-style-wide):not(.is-style-dots) {
  border-bottom-color: var(--wp--preset--color--border);
}

/* ! Core: Video */
.wp-block-video {
  margin: 0;
}
.wp-block-video video {
  width: 100%;
  max-height: 540px;
}

/* ! Block: Accordion (Item) */
.accordion {
  position: relative;
}
.accordion:not(.alignfull),
.accordion__container > .accordion__panel:last-child,
.accordion__container .wp-block[data-type="acf/accordion-item"]:last-child {
  border-bottom: 1px solid var(--wp--preset--color--border);
}
.accordion:not(.is-preview) {
  margin-top: 0;
  margin-bottom: 30px;
}
.accordion__container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.accordion__panel,
.wp-block[data-type="acf/accordion-item"] {
  border-top: 1px solid transparent;
}
.accordion__panel:nth-child(n+2),
.wp-block[data-type="acf/accordion-item"]:nth-child(n+2) {
  border-top-color: var(--wp--preset--color--border);
}
.accordion__panel__summary {
  margin: 0 !important;
  line-height: 1.15 !important;
  font-family: inherit !important;
  font-weight: inherit !important;
}
.accordion__panel__summary [aria-controls] {
  color: inherit;
  width: 100%;
  padding: 1.4rem 0;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 0;
  cursor: pointer;
  touch-action: manipulation;
  overflow-anchor: none;
  background-color: transparent;
}
.accordion__panel__summary .icon {
  margin-left: var(--wp--custom--gutter);
  fill: var(--wp--preset--color--primary) !important;
}
.accordion__panel__details {
  display: none;
}
.accordion__panel--in .accordion__panel__details {
  display: block;
}
.accordion__panel__details [aria-labelledby] {
  padding: 1.2rem 0 2.4rem;
  background-color: transparent;
}
.accordion__panel__details .rl {
  margin: 0 !important;
}
@media (min-width: 992px) {
  .accordion__panel__summary {
    font-size: var(--wp--preset--font-size--medium) !important;
  }
  .accordion__panel__summary .icon {
    width: 24px;
    height: 24px;
  }
}
