@charset "UTF-8";
/* ! Base */
:root {
  --scrollbar-width: 0px;
}

html {
  font-size: var(--wp--preset--font-size--regular);
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body.no-scroll {
  overflow-y: hidden;
}

hr:not(.wp-block-separator) {
  border: 0;
  margin: 2.4rem 0;
  border-bottom: 1px solid var(--wp--preset--color--border);
}

ul,
ol {
  line-height: 1.5;
  padding-left: calc(var(--wp--custom--gutter) * 1.4);
}
ul.alpha-list,
ol.alpha-list {
  list-style-type: lower-alpha;
}

b,
strong {
  font-weight: 700;
}

a {
  text-decoration: underline;
  text-underline-offset: 2px;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0);
          text-decoration-color: rgba(255, 255, 255, 0);
}
a:hover, a:focus, a:active:focus {
  -webkit-text-decoration-color: currentColor;
          text-decoration-color: currentColor;
}
a:not([class]):not([role=button]) {
  transition: all 0.15s ease;
}

a,
button,
input[type=submit] {
  outline: 0 !important;
}

/* ! Core */
.sr-only,
.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

[class^=site-] {
  margin: 0;
}
[class^=site-] a, [class^=site-] a:hover, [class^=site-] a:focus {
  text-decoration: none;
}

.site-title,
.site-logo {
  line-height: 1;
  font-size: inherit;
}

.site-logo img {
  width: auto;
  height: auto;
  max-height: 200px;
  max-width: min(100%, 200px);
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  fill: currentColor;
  font-size: inherit;
  font-style: normal;
  text-rendering: auto;
  transition: fill 0.2s ease;
}

img, .wp-block-image[class*=align] img {
  height: auto;
}
img[class*=align] {
  margin-bottom: var(--wp--custom--gutter);
}
img.alignleft {
  float: left;
  margin-right: var(--wp--custom--gutter);
}
img.alignright {
  float: right;
  margin-left: var(--wp--custom--gutter);
}
img.aligncenter {
  display: block;
  margin-inline: auto;
}

/* ! Form */
::-moz-placeholder {
  opacity: 1;
  color: rgba(35, 35, 35, 0.4);
}

:-ms-input-placeholder {
  color: rgba(35, 35, 35, 0.4);
}

::-webkit-input-placeholder {
  color: rgba(35, 35, 35, 0.4);
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]),
select,
textarea {
  color: inherit;
  padding: 6px 12px;
  font-size: inherit;
  border-radius: 0px;
  border: 1px solid var(--wp--preset--color--border);
  background-color: var(--wp--preset--color--white);
  transition: border-color 0.15s ease, box-shadow 0.15s ease;
}
input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]):focus,
select:focus,
textarea:focus {
  outline: 0;
  border-color: var(--wp--preset--color--black);
  box-shadow: 0 0 0 0.15rem rgba(35, 35, 35, 0.05);
}
.required input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]),
.required select,
.required textarea {
  border-color: currentColor;
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]) {
  width: 100%;
  height: 42px;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
          appearance: none;
}

input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  width: 0;
  height: 0;
  display: none;
}

select {
  width: 100%;
  height: 42px;
  cursor: pointer;
  padding-right: 32px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-size: 16px auto;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) 50%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktY2hldnJvbi1kb3duIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEuNjQ2IDQuNjQ2YS41LjUgMCAwIDEgLjcwOCAwTDggMTAuMjkzbDUuNjQ2LTUuNjQ3YS41LjUgMCAwIDEgLjcwOC43MDhsLTYgNmEuNS41IDAgMCAxLS43MDggMGwtNi02YS41LjUgMCAwIDEgMC0uNzA4eiIvPgo8L3N2Zz4=");
}

select::-ms-expand {
  display: none;
}

textarea {
  width: 100%;
  height: auto;
}

label,
legend {
  display: block;
  font-weight: 500;
  font-size: inherit;
}

/* ! Layout */
.container {
  width: 100%;
  margin: 0 auto;
  padding-inline: var(--wp--custom--gutter);
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container > .alignwide, .container > .alignfull {
  width: calc(100vw - var(--scrollbar-width));
  margin-left: calc(-50vw + 50% + (var(--scrollbar-width)) / 2);
}
@media (min-width: 576px) {
  .container > .alignwide {
    max-width: 540px;
    margin-left: calc(-270px + 50%);
  }
}
@media (min-width: 768px) {
  .container > .alignwide {
    max-width: 720px;
    margin-left: calc(-360px + 50%);
  }
}
@media (min-width: 992px) {
  .container > .alignwide {
    max-width: 960px;
    margin-left: calc(-480px + 50%);
  }
}
@media (min-width: 1200px) {
  .container > .alignwide {
    max-width: 1140px;
    margin-left: calc(-570px + 50%);
  }
}
@media (min-width: 1366px) {
  .container > .alignwide {
    max-width: min(100vw - var(--scrollbar-width), 1470px);
    margin-left: calc(max(-50vw + (var(--scrollbar-width)) / 2, -735px) + 50%);
  }
}

.alignfull,
.alignwide {
  padding-inline: var(--wp--custom--gutter);
}
.alignfull :is(.alignfull, .alignwide),
.alignwide :is(.alignfull, .alignwide) {
  padding-inline: 0;
}

.alignfull > .alignfull {
  margin-inline: calc(var(--wp--custom--gutter) * -1);
}

/* ! Nav: global */
[class*=navmenu] {
  margin: 0;
  padding: 0;
  list-style: none;
}
[class*=navmenu] > li.menu-item-has-children {
  position: relative;
}
[class*=navmenu] > li:is(:hover, .open) .navmenu__caret {
  transform: rotate(-180deg);
}

@media (max-width: 767px) {
  .navmenu__sub {
    display: none;
  }
}
@media (min-width: 768px) {
  .navmenu__sub {
    opacity: 0;
    visibility: hidden;
    width: max(100%, 150px);
    position: absolute;
    top: 100%;
    z-index: 10;
    background: var(--wp--preset--color--white);
    transition: visibility 25ms ease 125ms, opacity 125ms ease;
  }
  ul[class*=navmenu] > li:hover > .navmenu__sub {
    opacity: 1;
    visibility: visible;
    transition: visibility 25ms ease, opacity 125ms ease 25ms;
  }
}
@media (max-width: 767px) {
  .navmenu__sub {
    display: none;
    visibility: hidden;
  }
  ul[class*=navmenu] > li.open > .navmenu__sub {
    display: block;
    visibility: visible;
  }
}

.navmenu__caret {
  line-height: 1;
  margin-left: 0.5rem;
  display: inline-block;
  vertical-align: baseline;
}
.navmenu__caret .icon {
  width: 1rem;
  height: 1rem;
}

/* ! Header */
.header {
  height: auto;
  background-color: var(--wp--preset--color--white);
}

/* ! Footer */
.footer {
  position: relative;
  color: var(--wp--preset--color--white);
  background: var(--wp--preset--gradient--black);
}

/* ! Breadcrumb */
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.breadcrumb a, .breadcrumb a:hover, .breadcrumb a:focus {
  color: inherit;
  text-decoration: none;
}
.breadcrumb a:hover {
  color: var(--wp--preset--color--secondary-dark);
}
.breadcrumb__item, .breadcrumb__item:before {
  display: inline-block;
  vertical-align: middle;
}
.breadcrumb__item + .breadcrumb__item {
  padding-left: 0.333rem;
}
.breadcrumb__item [aria-current=page] {
  color: inherit;
  display: inline-block;
}

/* ! Pagination */
.pagination {
  margin-top: 2.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  align-items: center;
  justify-content: center;
}

.page-numbers {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  align-items: center;
}
.page-numbers > li {
  width: 36px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.page-numbers > li + li {
  margin-left: 0.25rem;
}
.page-numbers > li > * {
  display: block;
  padding: 0 2px;
  line-height: 34px;
  font-size: 0.875em;
  border-radius: var(--wp--custom--button--border-radius);
}
.page-numbers > li > a, .page-numbers > li > a:hover, .page-numbers > li > a:focus {
  color: var(--wp--preset--color--black);
  text-decoration: none;
}
.page-numbers > li > a:not(.prev):not(.next) {
  background-color: var(--wp--preset--color--white);
  border: 1px solid currentColor;
}
.page-numbers > li > a .icon {
  width: 20px;
  height: 20px;
  margin-top: -2px;
}
@media (hover: hover) {
  .page-numbers > li > a {
    transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
  }
  .page-numbers > li > a:hover {
    color: var(--wp--preset--color--alt-dark);
  }
  .page-numbers > li > a:hover:not(.prev):not(.next) {
    border-color: var(--wp--preset--color--black);
    background-color: var(--wp--preset--color--light);
  }
}
.page-numbers > li > .current {
  color: var(--wp--preset--color--black);
  font-weight: 600;
  border-color: var(--wp--preset--color--border);
  background-color: var(--wp--preset--color--border);
  box-shadow: 2px 2px 0px var(--wp--preset--color--black);
}

/* ! Share */
.entry-share {
  text-align: right;
  position: relative;
  z-index: 100;
}
.entry-share__wrap {
  opacity: 0;
  margin-top: 0.5rem;
  padding: 0.7rem 1rem;
  position: absolute;
  right: 0;
  top: 100%;
  left: inherit;
  width: auto;
  min-width: 250px;
  visibility: hidden;
  transform: translateY(12px);
  border-radius: var(--wp--custom--button--border-radius);
  background-color: var(--wp--preset--color--white);
  box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.075);
  transition: opacity 0.2s ease-in, transform 0.2s ease-in, visibility 0.05s ease 0.2s;
}
.entry-share:before {
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  right: 6px;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid var(--wp--preset--color--white);
}
.entry-share--open .entry-share__wrap {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: opacity 0.2s ease-out 0.05s, transform 0.2s ease-out 0.05s, visibility 0.05s ease 0s;
}
.entry-share__btn {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: none;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: manipulation;
  background-color: var(--wp--preset--color--white);
}
.entry-share__btn, .entry-share__btn:hover, .entry-share__btn:focus {
  color: var(--wp--preset--color--black);
}
.entry-share__btn .icon {
  width: 32px;
  height: 32px;
}

/* ! WPCF7 */
:root {
  --wpcf7-grid-spacing: 2rem;
  --wpcf7-upload-label: "Choose";
  --wpcf7-invalid-color: #dc3232;
}

.wpcf7-form,
.wpcf7-form-control,
.wpcf7-form-control-wrap .wpcf7-list-item-label {
  color: inherit;
}

.wpcf7-form {
  font-size: inherit;
}
.wpcf7-form > fieldset, .wpcf7-form > .wpcf7-form-group, .wpcf7-form > .wpcf7-form-control-wrap, .wpcf7-form > [data-class=wpcf7cf_group] > .wpcf7-form-group {
  margin-bottom: var(--wpcf7-grid-spacing);
}
@media (max-width: 767px) {
  .wpcf7-form > fieldset .wpcf7-form-group + .wpcf7-form-group {
    margin-top: var(--wpcf7-grid-spacing);
  }
}
@media (min-width: 768px) {
  .wpcf7-form > fieldset {
    display: grid;
    grid-row-gap: var(--wpcf7-grid-spacing);
    grid-column-gap: calc(var(--wpcf7-grid-spacing) / 2);
    grid-template-columns: repeat(2, 1fr);
  }
  .wpcf7-form > fieldset .wpcf7-form-group--full {
    grid-column: 1/3;
  }
}

.wpcf7-form-control-wrap, .wpcf7-form-control-wrap > * {
  display: block;
}

.wpcf7-form-group {
  position: relative;
}
.wpcf7-form-group.required .wpcf7-form-control-wrap {
  color: var(--wpcf7-invalid-color);
}
.wpcf7-form-group > label {
  margin-bottom: 0.5rem;
}

.wpcf7-form-control.wpcf7-file, .wpcf7-form-control.wpcf7-radio, .wpcf7-form-control.wpcf7-checkbox, .wpcf7-form-control.wpcf7-acceptance {
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
.wpcf7-form-control.wpcf7-radio, .wpcf7-form-control.wpcf7-checkbox, .wpcf7-form-control.wpcf7-acceptance {
  height: auto !important;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item, .wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item, .wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item {
  display: block;
  margin: 0 !important;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item > label, .wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item > label, .wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item > label {
  cursor: pointer;
  touch-action: manipulation;
}
.wpcf7-form-control.wpcf7-radio.inline, .wpcf7-form-control.wpcf7-checkbox.inline {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  -moz-column-gap: 15px;
       column-gap: 15px;
  align-items: flex-start;
}
.wpcf7-form-control.wpcf7-radio.inline > .wpcf7-list-item > label, .wpcf7-form-control.wpcf7-checkbox.inline > .wpcf7-list-item > label {
  margin-bottom: 0;
  margin-right: 1rem;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type=radio], .wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type=checkbox], .wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type=checkbox] {
  position: absolute;
  visibility: hidden;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type=radio] + span, .wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type=checkbox] + span, .wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type=checkbox] + span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: var(--wp--preset--font-size--regular);
  line-height: 24px;
  padding-left: var(--wpcf7-grid-spacing);
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type=radio] + span::before, .wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type=radio] + span::after, .wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type=checkbox] + span::before, .wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type=checkbox] + span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  transition: all 0.2s ease;
}
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type=checkbox] + span::after, .wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type=checkbox] + span::after {
  content: "✓";
  display: block;
  font-family: system-ui;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition: all 0.15s ease;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type=radio] + span::before, .wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type=radio] + span::after {
  width: 16px;
  height: 16px;
  margin: 4px 0;
  border-radius: 50%;
}
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type=checkbox] + span::before, .wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type=checkbox] + span::after, .wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type=checkbox] + span::before, .wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type=checkbox] + span::after {
  width: 18px;
  height: 18px;
  margin: 3px 0;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type=radio] + span::before, .wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type=checkbox] + span::before, .wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type=checkbox] + span::before {
  border: 1px solid var(--wp--preset--color--border);
}
[class*=has-text-color] .wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type=radio] + span::before, [class*=has-text-color] .wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type=checkbox] + span::before, [class*=has-text-color] .wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type=checkbox] + span::before {
  border-color: currentColor;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type=radio] + span::after {
  transform: scale(0);
  background-color: var(--wp--preset--color--white);
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type=radio]:checked + span::before, .wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type=checkbox]:checked + span::before, .wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type=checkbox]:checked + span::before {
  border-color: var(--wp--preset--color--primary);
  background-color: var(--wp--preset--color--primary);
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type=radio]:checked + span::after {
  transform: scale(0.4);
}
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type=checkbox]:checked + span::after, .wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type=checkbox]:checked + span::after {
  opacity: 1;
  transform: scale(1);
  color: var(--wp--preset--color--white);
}
.wpcf7-form-control.wpcf7-date {
  cursor: pointer;
}

.wpcf7-custom-upload {
  margin-bottom: var(--wpcf7-grid-spacing);
  position: relative;
  z-index: 1;
}
.wpcf7-custom-upload h6 {
  margin: 0 0 1rem;
  font-weight: 500;
  font-family: inherit;
}
.wpcf7-custom-upload h6 > small {
  color: inherit;
  font-size: 0.8em;
  font-weight: 400;
}
@media (max-width: 575px) {
  .wpcf7-custom-upload h6 > small {
    display: block;
  }
}
.wpcf7-custom-upload .wpcf7-form-control-wrap:before {
  content: var(--wpcf7-upload-label);
  position: absolute;
  left: 0;
  width: 150px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  color: var(--wp--preset--color--white);
  border: none;
  border-radius: var(--wp--custom--button--border-radius);
  background-color: var(--wp--preset--color--black);
  padding-block: var(--wp--custom--button--padding-vertical);
  padding-inline: var(--wp--custom--button--padding-horizontal);
}
.wpcf7-custom-upload .wpcf7-form-control-wrap > input {
  opacity: 0;
  width: 100%;
  height: 56px !important;
}
.wpcf7-custom-upload span[aria-hidden=true] {
  position: absolute;
  right: 0;
  left: 165px;
  bottom: 0px;
  z-index: -1;
  line-height: 1;
  overflow: hidden;
  /* Fallback for non-webkit */
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  transform: translateY(-20px);
}

.wpcf7-not-valid-tip {
  font-size: var(--wp--preset--font-size--small);
  color: var(--wpcf7-invalid-color);
}
.wpcf7-form[data-status=init] .wpcf7-not-valid-tip {
  display: none !important;
  visibility: hidden;
}
.wpcf7-form-group .wpcf7-not-valid-tip {
  position: absolute;
}

.wpcf7-submit {
  min-width: 150px;
}

@media (min-width: 768px) {
  .wpcf7-submit-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}
.wpcf7 form .wpcf7-response-output {
  font-size: inherit;
  border-radius: 0px !important;
  padding: 10px 15px !important;
  margin: 25px 0 0 !important;
}
.wpcf7 form .wpcf7-response-output:empty {
  display: none !important;
  visibility: hidden;
}