/* ! Theme */
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  fill: currentColor;
  font-size: inherit;
  font-style: normal;
  text-rendering: auto;
  vertical-align: middle;
  transition: fill 0.2s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-title {
  font-size: 16px;
}
.site-logo,
.brand-logo {
  margin: 0;
  max-width: 260px;
  font-size: inherit;
}
.site-logo img,
.brand-logo img {
  width: auto;
  max-width: 100%;
  max-height: 45px;
}
@media (min-width: 768px) {
  .site-logo img,
  .brand-logo img {
    max-height: 54px;
  }
}
[class^="site-"] {
  line-height: 1;
  text-align: inherit;
}
[class^="site-"] a,
[class^="site-"] a:hover,
[class^="site-"] a:focus {
  color: inherit;
  text-decoration: none;
}

/* ! 404 */
.not-found {
  text-align: center;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
}
.not-found__text {
  line-height: 1;
  margin-bottom: 1rem;
  font-size: clamp(64px, 25vw, 256px);
  color: var(--wp--preset--color--secondary);
}
.not-found__desc p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

/* ! Breadcrumb */
.breadcrumb {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 1rem;
  font-weight: 400;
  justify-content: flex-end;
  color: var(--wp--preset--color--primary);
}
.breadcrumb a,
.breadcrumb a:hover,
.breadcrumb a:focus {
  color: var(--wp--preset--color--primary);
  text-decoration: none;
}
.breadcrumb a:hover {
  opacity: 0.7;
}
.breadcrumb__item,
.breadcrumb__item::before {
  display: inline-block;
  vertical-align: middle;
}
.breadcrumb__item + .breadcrumb__item {
  padding-left: 0.333rem;
}
.breadcrumb__item [aria-current="page"] {
  color: inherit;
  display: inline-block;
}

/* ! Sidebar */
.wp-block-column > aside {
  position: sticky;
  top: 0;
  border: 1px solid #ccc;
  /* TODO */
}

/* ! Slim Select */
.ss-main {
  color: inherit;
}
.ss-main .ss-single-selected,
.ss-main .ss-multi-selected {
  height: 42px;
  border-radius: 0px;
}
.ss-content,
.ss-main .ss-single-selected,
.ss-main .ss-multi-selected {
  border-color: var(--wp--preset--color--border);
}
.required .ss-main .ss-single-selected,
.required .ss-main .ss-multi-selected {
  border-color: currentColor;
}
.required .ss-main .ss-single-selected .placeholder  {
  color: var(--wp--preset--color--black);
}
.ss-main .ss-multi-selected .ss-add {
  align-self: center;
  margin-top: 0;
}
.ss-main .ss-single-selected .ss-arrow span {
  padding: 3.5px;
  border-color: var(--wp--preset--color--primary);
}
.ss-main .ss-multi-selected .ss-add .ss-plus,
.ss-main .ss-multi-selected .ss-add .ss-plus::after {
  background: var(--wp--preset--color--primary);
}
.ss-main .ss-multi-selected .ss-add .ss-plus {
  height: 14px;
}
.ss-main .ss-multi-selected .ss-add .ss-plus:after {
  width: 14px;
  left: -6px;
  top: 6px;
}
.ss-content .ss-search input {
  height: 32px !important;
}
.ss-content .ss-search input:not(:focus) {
  border-color: rgba(0,0,0,0.15) !important;
}
.ss-content .ss-list .ss-option {
  color: var(--wp--preset--color--black);
}
.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:hover {
  background-color: var(--primary-light-color);
}
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-option-selected {
  color: var(--text-alt-color);
  background-color: var(--wp--preset--color--light);
}

/* ! Tiny Slider */
.tns-outer {
  position: relative;
}
.tns-nav,
.tns-controls {
  text-align: center;
}
.tns-nav {
  margin: 0 0 1rem;
}
.tns-ovh + .tns-nav {
  margin: 1rem 0 0;
}
.tns-nav > [aria-controls],
.tns-controls [aria-controls] {
  border: 0;
  margin: 0;
  padding: 0;
}
.tns-nav > [aria-controls] {
  width: 40px;
  height: 8px;
  overflow: hidden;
  position: relative;
  border-radius: 1px;
  border: 1px solid transparent;
  background-color: rgba(0,0,0,0.45);
  transition: width 0.2s ease-in, background-color 0.2s ease;
}
.tns-nav > [aria-controls] + [aria-controls] {
  margin-left: 10px;
}
.tns-nav > .tns-nav-active {
  width: 50px;
  pointer-events: none;
  background-color: rgba(0,0,0,1);
}
.tns-controls {
  margin: 0;
  line-height: 1;
}
.tns-controls [aria-controls] {
  position: absolute;
  top: 50%;
  z-index: 10;
  padding: 2px;
  margin-top: -10px;
  line-height: inherit;
  color: var(--wp--preset--color--white);
  background-color: rgba(0,0,0,0.45);
}
.tns-controls [aria-controls][disabled] {
  opacity: 0 !important;
  pointer-events: none;
}
.tns-controls [data-controls="prev"] {
  left: 0px;
}
.tns-controls [data-controls="next"] {
  right: 0px;
}
@media (hover: hover) {
  .tns-controls [data-controls="prev"],
  .tns-controls [data-controls="next"] {
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
  }
  .tns-controls [data-controls="prev"] {
    transform: translateX(-15px);
  }
  .tns-controls [data-controls="next"] {
    transform: translateX(15px);
  }
  .tns-outer:hover .tns-controls [data-controls="prev"],
  .tns-outer:hover .tns-controls [data-controls="next"] {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media (min-width: 992px) {
  .tns-controls .icon {
    width: 24px;
    height: 24px;
  }
  .tns-controls [aria-controls] {
    padding: 3px;
    margin-top: -15px;
  }
  .tns-controls [data-controls="prev"] {
    left: 15px;
  }
  .tns-controls [data-controls="next"] {
    right: 15px;
  }
}

/* ! WPCF7 */
.wpcf7-form,
.wpcf7-form-control,
.wpcf7-form-control-wrap .wpcf7-list-item-label {
  color: inherit;
}
.wpcf7-form {
  font-size: inherit;
}
.wpcf7-form-group {
  position: relative;
}
.wpcf7-form-group.required .wpcf7-form-control-wrap {
  color: var(--wpcf7-required-color);
}
.wpcf7-form-control-wrap,
.wpcf7-form-control-wrap > * {
  display: block;
}
.wpcf7-form > fieldset,
.wpcf7-form > .wpcf7-form-group,
.wpcf7-form > .wpcf7-form-control-wrap,
.wpcf7-form > [data-class="wpcf7cf_group"] > .wpcf7-form-group {
  margin-bottom: var(--wp--custom--gutter);
}
@media (max-width: 767px) {
  .wpcf7-form > fieldset .wpcf7-form-group + .wpcf7-form-group {
    margin-top: var(--wp--custom--gutter);
  }
}
@media (min-width: 768px) {
  .wpcf7-form > fieldset {
    display: grid;
    grid-row-gap: var(--wp--custom--gutter);
    grid-column-gap: var(--wp--custom--gutter);
    grid-template-columns: repeat(2, 1fr);
  }
  .wpcf7-form > fieldset .wpcf7-form-group--full {
    grid-column: 1/3;
  }
}
.wpcf7-form-control.wpcf7-file,
.wpcf7-form-control.wpcf7-radio,
.wpcf7-form-control.wpcf7-checkbox,
.wpcf7-form-control.wpcf7-acceptance {
  padding: 0 !important;
  border: none !important;
  background-color: transparent !important;
}
.wpcf7-form-control.wpcf7-radio,
.wpcf7-form-control.wpcf7-checkbox,
.wpcf7-form-control.wpcf7-acceptance {
  height: auto !important;
}
.wpcf7-form-control.wpcf7-radio.inline,
.wpcf7-form-control.wpcf7-checkbox.inline {
  display: flex;
  align-items: flex-start;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item,
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item,
.wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item {
  display: block;
  margin: 0 !important;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item > label,
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item > label,
.wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item > label {
  cursor: pointer;
  touch-action: manipulation;
}
.wpcf7-form-control.wpcf7-radio.inline > .wpcf7-list-item > label,
.wpcf7-form-control.wpcf7-checkbox.inline > .wpcf7-list-item > label,
.wpcf7-form-control.wpcf7-acceptance.inline > .wpcf7-list-item > label {
  margin-bottom: 0;
  margin-right: 1.4rem;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"],
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"],
.wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span,
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"] + span,
.wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type="checkbox"] + span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  line-height: 24px;
  padding-left: var(--wp--custom--gutter);
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span::before,
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span::after,
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"] + span::before,
.wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type="checkbox"] + span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  transition: all 0.2s ease;
}
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"] + span::after,
.wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type="checkbox"] + span::after {
  content: '\2713';
  display: block;
  font-family: system-ui;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0);
  transition: all 0.15s ease;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span::before,
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span::after {
  width: 16px;
  height: 16px;
  margin: 4px 0;
  border-radius: 50%;
}
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"] + span::before,
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"] + span::after,
.wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type="checkbox"] + span::before,
.wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type="checkbox"] + span::after {
  width: 18px;
  height: 18px;
  margin: 3px 0;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span::before,
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"] + span::before,
.wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type="checkbox"] + span::before {
  border: 1px solid var(--wp--preset--color--border);
}
[class*="has-text-color"] .wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span::before,
[class*="has-text-color"] .wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"] + span::before,
[class*="has-text-color"] .wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type="checkbox"] + span::before {
  border-color: currentColor;
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"] + span::after {
  transform: scale(0);
  background-color: var(--wp--preset--color--white);
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"]:checked + span::before,
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"]:checked + span::before,
.wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type="checkbox"]:checked + span::before {
  border-color: var(--wp--preset--color--primary);
  background-color: var(--wp--preset--color--primary);
}
.wpcf7-form-control.wpcf7-radio > .wpcf7-list-item input[type="radio"]:checked + span::after {
  transform: scale(0.4);
}
.wpcf7-form-control.wpcf7-checkbox > .wpcf7-list-item input[type="checkbox"]:checked + span::after,
.wpcf7-form-control.wpcf7-acceptance > .wpcf7-list-item input[type="checkbox"]:checked + span::after {
  opacity: 1;
  transform: scale(1);
  color: var(--wp--preset--color--white);
}
.wpcf7-custom-upload {
  margin-bottom: 2.4rem;
  position: relative;
  z-index: 1;
}
.wpcf7-custom-upload h6 {
  margin: 0 0 1.4rem;
  font-weight: 500;
  font-family: inherit;
}
.wpcf7-custom-upload h6 > small {
  color: inherit;
  font-size: 0.8em;
  font-weight: 400;
}
@media (max-width: 575px) {
  .wpcf7-custom-upload h6 > small {
    display: block;
  }
}
.wpcf7-custom-upload .wpcf7-form-control-wrap::before {
  content: var(--wpcf7-upload-label);
  position: absolute;
  left: 0;
  width: 185px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  color: var(--wp--preset--color--white);
  padding: var(--wp--custom--button-padding);
  border-radius: var(--wp--custom--button-border-radius);
  background-color: var(--wp--preset--color--primary);
}
.wpcf7-custom-upload .wpcf7-form-control-wrap > input {
  opacity: 0;
  width: 100%;
  height: 42px !important;
}
.wpcf7-custom-upload span[aria-hidden="true"] {
  position: absolute;
  right: 0;
  left: 200px;
  bottom: 0px;
  z-index: -1;
  overflow: hidden;
  transform: translateY(-12px); /* font-size / 2 */
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.wpcf7 form .wpcf7-response-output {
  font-size: inherit;
  color: var(--wp--preset--color--black);
  background-color: transparent;
  border-color: var(--wp--preset--color--border);
  border-radius: 0px !important;
  padding: 10px 15px !important;
  margin: 25px 0 0 !important;
}
.wpcf7 form.sent .wpcf7-response-output {
  color: #155724;
  border-color: #c3e6cb;
  background-color: rgba(212,237,218,0.25);
}
.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
  color: #721c24;
  border-color: #f5c6cb;
  background-color: rgba(248,215,218,0.25);
}
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  color: #856404;
  border-color: #ffeeba;
  background-color: rgba(255,243,205,0.25);
}
.wpcf7-not-valid-tip {
  font-size: 13px !important;
}
@media (min-width: 768px) {
  .wpcf7-submit-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}
.wpcf7-submit {
  min-width: 150px;
}

/* ! Polylang */
.pll-selector {
  position: relative;
  cursor: pointer;
  touch-action: manipulation;
}
.pll-selector__label,
.pll-selector__select {
  cursor: inherit;
}
.pll-selector__label {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  transform: translateY(-50%);
}
.pll-selector__select {
  margin: 0;
  padding: 0;
  width: auto;
  height: 32px;
  min-width: 64px;
  max-width: 78px;
  color: inherit;
  text-transform: uppercase;
  background-size: 12px auto;
  background-color: transparent;
}
select.pll-selector__select {
  pointer-events: none;
  background-image: none;
  padding: 2px 4px 2px 2rem !important;
}
.pll-selector__select,
.pll-selector__select:focus {
  box-shadow: none;
  border-color: transparent;
}
.pll-selector__select.ss-main .ss-single-selected {
  border: none !important;
  height: 100% !important;
  cursor: inherit !important;
  padding: 2px 4px 2px 2rem !important;
  background-color: transparent !important;
}
.pll-selector__select.ss-main .ss-hide,
.pll-selector__select.ss-main .ss-content .ss-list .ss-option.ss-disabled {
  display: none !important;
  visibility: hidden !important;
}
.pll-selector__select.ss-main .ss-single-selected .ss-arrow {
  margin: 0 0 0 4px !important;
}
.pll-selector__select.ss-main .ss-single-selected .ss-arrow span {
  border-color: currentColor !important;
}
.pll-selector__select.ss-main .ss-single-selected .ss-arrow span.arrow-down {
  transform: scale(0.5) rotate(45deg) !important;
}
.pll-selector__select.ss-main .ss-single-selected .ss-arrow span.arrow-up {
  transform: scale(0.5) rotate(-135deg) !important;
}
.pll-selector__select.ss-main .ss-content {
  box-shadow: 0px 0px 24px rgba(26,26,26,0.15);
  border-color: var(--wp--preset--color--light) !important;
  width: calc(100% + 12px) !important;
  margin-left: -10px !important;
  margin-top: 0px !important;
}
.pll-selector__select.ss-main .ss-content .ss-list {
  text-align: center !important;
  max-height: 145px !important;
}
@media (hover: hover) {
  .pll-selector__select.ss-main .ss-content .ss-list::-webkit-scrollbar {
    width: 4px;
  }
  .pll-selector__select.ss-main .ss-content .ss-list::-webkit-scrollbar-track {
    border-radius: 2px;
    box-shadow: inset 0 0 5px #fbfbfb;
  }
  .pll-selector__select.ss-main .ss-content .ss-list::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #e8e8e8;
  }
}
.pll-selector__select.ss-main .ss-content .ss-list .ss-option {
  padding: 4px 8px !important;
}
