/* ! Base */
html {
  font-size: 15px;
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
hr {
  border: 0;
  margin: 2.4rem 0;
  border-top: 1px solid var(--wp--preset--color--border);
}
ul, ol {
  padding-left: calc(var(--wp--custom--gutter) * 1.4);
}
ol.alpha-list {
  list-style-type: lower-alpha;
}
